@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: poppins;
    }

    /* body {
    padding: 0 30px;
    } */

    navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    }

    navbar ul {
    display: none;
    }

    navbar ul.show {
    padding: 15px 25px;
    border-radius: 10px 0px 10px 10px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    position: absolute;
    right: 40px;
    top: 40px;
    background-color: rgb(249, 249, 249);
    }

    navbar ul.show a {
        color: black;
        /* border-bottom: 1px solid grey; */
        font-weight: 700;
    }

    navbar {
        position:fixed;
        padding: 10px 30px;
        top: 0;
        right: 0;
        left: 0;
        background-color: rgb(255, 255, 255);
        z-index: 999999;

    }

    .hero {
        margin-top: 60px;
        margin-bottom: 30px;
        animation: mymove 20s infinite backwards;
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        margin: 20px 0;
        padding: 30px 30px;
    }

    .textHero {
        display: flex;
        flex-direction: column;
        width: 70vw;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
    }
    .textHero h3 {
        text-align: center;
        color: aliceblue;
        font-size: 1.7rem;
    }

    .btn{
        font-weight: 600;
        text-align: center;
        margin-top: 15px;
        padding: 10px;
        width: 7rem;
        border: solid 1px #fafafa;
        cursor: pointer;
        background-color:#014A94 ;
        border-radius: 5px;
        box-shadow: 5px 3px #627D92;
        color: white;
        /* box-shadow: rgba(red, green, blue, alpha); */
    }
    .btn:active {
        box-shadow: 1px 0px rgb(145, 145, 145);
        transform: translate(4px, 2px);
    }

    .about h4 {
        color:#627D92;
    }

    .itemsAbout {
        display: flex;
        margin-top: 15px;
        background-color: #fafafa;
        padding: 15px;
        border-radius: 7px;
        box-shadow: 2px 4px rgba(128, 128, 128, 0.147);

    }

    .itemsAbout img {
        height: 50px;
        padding: 10px;
    } 

    .itemsAbout h4 {
        font-size: small;
    }
    .itemsAbout h3 {
        color: #014A94;
    }
    .textAbout {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .textAbout h2 {
        color: #014A94;
    }
    .textAbout h4 {
        font-size: small;
    }

    .aboutImg {
        display: none;
    }


    .layanan {
        background-color: #FAFAFA;
    }
    .titleLayanan{
        text-align: center;
    }
    .itemLayanan {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .itemsLayanan {
        position: relative;
        color: white;
        font-size: small;
        border-radius: 10px;
        padding: 15px;
        background-color: #014A94;
        height: 25vh;
        width: 38%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        box-shadow: 2px 2px rgba(128, 128, 128, 0.147);

    }
    .itemsLayanan a {
        color: white;
    }
    .itemsLayanan .bg {
        border-radius: 10px;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(rgba(255, 0, 0, 0), rgb(64, 0, 255)320%);
        /* background-color: red; */
        z-index: 1;
    }
    .itemsLayanan .title {
        z-index: 12;
    }

    .titleLayanan{
        margin-bottom: 15px;
    }
    .titleLayanan h2 {
        color: #014A94;
    }
    .titleLayanan h4 {
        color: #627D92;
        font-size: .9rem;
    }


    /* Berita */
    .titleBerita {
        text-align: center;
        margin-bottom: 20px;
    }
    .titleBerita h2 {
        color: #014A94;
    }.titleBerita h4 {
        color: #627D92;
        font-size: 0.9rem;
    }

    .itemBerita {
        display: flex;
        gap: 10px;
        border-radius: 7px;
        max-width: 400px;
        overflow-x: auto;
    }
    .itemsBerita {
        min-width: 310px;
        background-color: #FAFAFA;
        padding: 10px;
        border-radius: 7px;
        box-shadow: 1px 3px rgba(128, 128, 128, 0.147);
    }
    .itemBerita h3 {
        color:#014A94;
    }.itemsBerita a {
        color:red;
    }

    .slider {
        overflow: hidden;
        white-space: nowrap;
    }
    .slide-track {
        animation: scroll 15s infinite linear;
        display: inline-block;
    }
    .slide-track img {
        margin: 0 45px;
    }
    .anakPerusahaan:hover .slide-track {
        animation-play-state: paused;
    }

    .titleAnakPerusahaan {
        text-align: center;
        margin-bottom: 30px;
    }
    .titleAnakPerusahaan h2 {
        color:#014A94;
    } .titleAnakPerusahaan h4 {
        color: #627D92;
        font-size: 0.9rem   ;
    }



    
    .kebawah {
        height: 400vh;
    }
    @keyframes mymove {
  0%   {background-image: url(./img/bg1.jpg); background-size: cover;}
  50%  {background-image: url(./img/bg1.jpg); background-size: cover;}
  100%  {background-image: url(./img/bg1.jpg); background-size: cover;}
}
    @keyframes scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX( -100%);
        }
    }


/* Tampilan Desktop */
    @media (min-width: 568px) {
    navbar ul {
        display: flex;
        gap: 20px;
    }
    navbar ul a {
        font-weight: 600;
        color: black;
    }

    navbar .btnMenu {
        display: none;
    }

    .textAbout {
        font-size: 1.2rem;
    }

    .divItem {
        display: flex;
        margin-top: 40px;
        /* flex-wrap: wrap; */
    }
    .aboutImg{
        display: block;
    }

    .itemsAbout {
        width: 40%;
        margin: 10px;
        font-size: 1.3rem;
        box-shadow: 2px 4px rgba(128, 128, 128, 0.147);
    }

    .itemsAbout img {
        height: 60px;
    }

    .itemAbout {
        display: flex;
        width: 70%;
        flex-wrap: wrap;
    }
    
    .titleLayanan {
        text-align: center;
    }
    .itemsLayanan {
        width: 40vh;
        height: 420px;
    }

    .itemBerita {
        max-width: none;
    }
    

    /* Tampilan Tab */
    @media (max-width: 898px) {
        .aboutImg {
            display: none;
        }
        .itemAbout {
            width: 100%;
        }

        .itemsLayanan {
            width: 40%;
        }
    }
}

